Makefile
Makefile.in
*.o
.deps
*.vtu
*.pvd
*.drs
*.la
*~
config*
!configure.ac
aclocal*
am
*.lo
.svn/
*.tex
.deps/
.libs/
*.log
autom4te.cache/
dumux-handbook.dvi
.cproject
.project
libtool
missing
stamp*
