Source: opm-models
Section: libs
Priority: optional
Maintainer: Arne Morten Kvarving <arne.morten.kvarving@sintef.no>
Build-Depends: debhelper (>= 9), cmake,
 gfortran, libtool, mpi-default-bin, mpi-default-dev, pkg-config,
 libdune-grid-dev (>= 2.6.0), libdune-istl-dev (>= 2.6.0),
 libdune-localfunctions-dev (>= 2.6.0), libopm-material-dev,
# Build-Depends-Indep: # broken on precise pbuilder
 doxygen, texlive-latex-extra, texlive-latex-recommended, ghostscript,
 libboost-system-dev, libboost-date-time-dev, libpython3-dev,
 libboost-test-dev, libsuperlu3-dev (>= 3.0) | libsuperlu-dev (>= 4.3),
 gfortran, libsuitesparse-dev, zlib1g-dev, libscotchmetis-dev, libscotchparmetis-dev,
 libopm-common-dev, libopm-grid-dev, libtrilinos-zoltan-dev
Standards-Version: 3.9.3
Homepage: http://opm-project.org/ewoms
Vcs-Git: git://github.com/OPM/ewoms.git
Vcs-Browser: https://github.com/OPM/ewoms

Package: libopm-models1-dev
Architecture: all
Depends: ${misc:Depends},
 libdune-grid-dev (>= 2.2.0), libdune-istl-dev (>= 2.2.0),
 libdune-localfunctions-dev (>= 2.2.0), libopm-material-dev
Provides: libopm-models-dev
Description: C++ simulation framework for porous media flow -- development files
 The Open Porous Media (OPM) software suite provides libraries and
 tools for modeling and simulation of porous media processes, especially
 for simulating CO2 sequestration and improved and enhanced oil recovery.
 .
 opm-models is a header-only simulation framework which is primary focused
 on fully implicit models for flow and transport in porous media. It uses
 finite volume schemes for discretization and automatic differentiation
 for calculating the Jacobians. Its main objectives is to provide an
 easily usable, well maintainable, high performance framework which is
 capable of capturing all macro-scale scenarios relevant for academic
 research and industrial applications involving flow and transport
 processes in porous media.
 .
 This package provides the development files (headers) needed to build
 applications based on opm-models.

Package: libopm-models1-doc
Architecture: all
Provides: libopm-models-doc
Description: C++ simulation framework for porous media flow -- documentation
 The Open Porous Media (OPM) software suite provides libraries and
 tools for modeling and simulation of porous media processes, especially
 for simulating CO2 sequestration and improved and enhanced oil recovery
 .
 opm-models is a header-only simulation framework which is primary focused
 on fully implicit models for flow and transport in porous media. It uses
 finite volume schemes for discretization and automatic differentiation
 for calculating the Jacobians. Its main objectives is to provide an
 easily usable, well maintainable, high performance framework which is
 capable of capturing all macro-scale scenarios relevant for academic
 research and industrial applications involving flow and transport
 processes in porous media.
 .
 opm-models is a simulation framework which is primary focused on fully implicit
 models for flow and transport in porous media. It uses finite volume schemes
 for discretization and automatic differentiation for calculating the Jacobians.
 Its main objectives is to provide an easily usable, well maintainable,
 high performance framework which is capable of capturing all macro-scale
 scenarios relevant for academic research and industrial applications
 involving flow and transport processes in porous media.
 .
 This package provides the documentation of the source code.
