Source: opm-models
Section: libs
Priority: optional
Maintainer: Arne Morten Kvarving <arne.morten.kvarving@sintef.no>
Build-Depends: debhelper (>= 9), cmake,
 gfortran, libtool, mpi-default-bin, mpi-default-dev, pkg-config,
 libdune-grid-dev (>= 2.2.0), libdune-istl-dev (>= 2.2.0),
 libdune-localfunctions-dev (>= 2.2.0), libopm-material-dev,
# Build-Depends-Indep: # broken on precise pbuilder
 doxygen, texlive-latex-extra, texlive-latex-recommended, ghostscript,
 libboost-filesystem-dev, libboost-system-dev, libboost-date-time-dev,
 libboost-test-dev, libsuperlu3-dev (>= 3.0) | libsuperlu-dev (>= 4.3),
 gfortran, libsuitesparse-dev, zlib1g-dev,
 libboost-iostreams-dev, libopm-common-dev, libopm-grid-dev,
 mpi-default-dev, mpi-default-bin, libtrilinos-zoltan-dev
Standards-Version: 3.9.3
Homepage: http://opm-project.org/ewoms
Vcs-Git: git://github.com/OPM/ewoms.git
Vcs-Browser: https://github.com/OPM/ewoms

Package: libopm-models1-dev
Architecture: all
Depends: ${misc:Depends},
 libdune-grid-dev (>= 2.2.0), libdune-istl-dev (>= 2.2.0),
 libdune-localfunctions-dev (>= 2.2.0), libopm-material-dev
Provides: libopm-models-dev
Description: development files for opm-models
 opm-models is an simulation framework which is primary focused on fully implicit
 models for flow and transport in porous media. Its main objectives
 are to provide a easily usable, well maintainable, high performance
 framework which is capable of capturing all macro-scale scenarios
 relevant for academic research and industrial applications involving
 flow and transport processes in porous media.

Package: libopm-models1-doc
Architecture: all
Provides: libopm-models-doc
Description: documentation for opm-models
 opm-models is an simulation framework which is primary focused on fully implicit
 models for flow and transport in porous media. Its main objectives
 are to provide a easily usable, well maintainable, high performance
 framework which is capable of capturing all macro-scale scenarios
 relevant for academic research and industrial applications involving
 flow and transport processes in porous media.
